// Colours

$Success: #4ece58;
$Success-Shadow: #4ece5890;
$Error: #bb2d2d;

$Main-1: #8E20C2; 
$Main-2: #A268EC;

$Secondary-1: #282828;
$Secondary-2: #A2A2A2;
$Secondary-3: #C7C7C7;
$Secondary-4: #E0E0E0;
$Secondary-5: #F5F5F5;
$Secondary-6: #FFFFFF;

// Window Sizes
$Mobile: 800px