@import '../../SCSS/variables';

.modal-modificar-servico {
    display: none;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.6);
    }

    .container-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: $Secondary-5;
        box-shadow: 0 0 6px rgba(0,0,0,.3);

        width: 40%;
        height: 80%;

        border-radius: 10px;

        @media screen and (max-width: $Mobile) {
            width: 90%;
            height: 90%;
        }

        span.cancelar {
            position: absolute;
            align-self: flex-end;
            font-family: "Barlow", sans-serif;
            font-weight: 500;
            color: $Secondary-2;
            cursor: pointer;
            padding: 4px;
        }

        h1 {
            font-family: "Crimson Text", serif;
            font-weight: 600;
            font-size: 1.5em;
            width: fit-content;
            margin: 30px auto;
            color: $Secondary-2;
            border-bottom: 1px solid #A2A2A280;
        }

        .container-detalhes {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-bottom: 30px;

            p {
                font-family: "Barlow", sans-serif;
                font-weight: 500;
                color: $Secondary-2;
                margin-bottom: 8px;
                span {
                    color: $Main-1;
                    font-weight: 700;
                }
            }
        }

        .container-inputs {

            display: flex;
            flex-direction: column;
            width: 60%;
            flex: 1;
            div.input {
                display: flex;
                flex-direction: column;

                label {
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                    font-size: 1em;
                    color: $Secondary-2;
                    margin-bottom: 4px;
                    margin-left: 10px;
                }
                
                input {
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                    font-size: 1em;
                    color: $Secondary-1;

                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $Secondary-2;

                    padding: 4px 10px;
                    margin-bottom: 40px;
                }
            }
        }

        .container-botoes {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;

            button {
                background-color: transparent;
                outline: none;
                font-family: "Barlow", sans-serif;
                font-weight: 600;
                font-size: 1em;
                padding: 6px 12px;
                width: 20%;
                border-radius: 5px;
                transition: transform .2s;

                &:not([disabled]):hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }

                &:disabled {
                    cursor: not-allowed;
                    opacity: .6;
                }

                @media screen and (max-width: $Mobile) {
                    width: 40%;
                }
            }

            button.cancelar {
                background-color: $Secondary-6;
                border: 2px solid $Secondary-2;
                color: $Secondary-2;
            }

            button.modificar {
                background-color: $Main-2;
                border: 2px solid $Main-2;
                color: $Secondary-6;
            }
        }
    }
}